ul {
  list-style: none;
}

h1 {
  font-family: Oswald;
  font-weight: 800;
}

.ingredient-list {
  font-family: 'Patrick Hand';
  font-weight: 550;
  background-image: url("img/list-bg.png");
}

.icon-list {
  display: inline-block;
  position: relative;
  float: right;
}

.icon-list ul li {
  display: inline;
}

.pin-block {
  padding-right: 6.5px;
}

body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  max-width: 900px;
}

body, main {
  width: 100%;
}

.hero-img {
  display: block;
  margin: 0 auto;
  width: 100%;
}


.left-list {
  float: left;
}

.right-list {
  float: right;
}

.author {
  border-radius: 50%;
  position: absolute;
}